<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>ABOUT</h3>
                <hr class="mt-0">
                <div class="row" *ngFor="let item of profile">
                    <div class="col text-right"> <strong>{{item.name}}</strong></div>
                    <div class="col">{{item.value}}</div>
                </div>
                <hr class="mt-1">
            </div>
            <div class="col-md-6">
                <img class="profile-img" src="/assets/profile/swapnil.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>EXPERIENCE</h5>
                <ul>
                    <li class='rem-reduce'>
                        <h6>TCS // FrontEnd Web Developer</h6>
                        <h6>Dec,2012 - Present</h6>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>SKILLS</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            KNOWLEDGE
                        </h6>
                        <div class="row">
                            <div *ngFor='let tech of technologies' class='col-md-6 rem-reduce'>{{tech}}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>TOOLS</h6>
                        <div class="row">
                            <div *ngFor='let tool of tools' class='col-md-6 rem-reduce'>{{tool}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <h6>PERSONAL</h6>
                <div>I am Numismatics,Chess player and love travelling.I also enjoy meeting new people and learn about new cultures.</div>
            </div>
            <div class="col-md-3">
                <img class="profile-img" src="/assets/hobbies/paris-city.JPG" alt="Card image cap">
            </div>
            <div class="col-md-3">
                <img class="profile-img" src="/assets/hobbies/cnique-terra.JPG" alt="Card image cap">
            </div>
            <div class="col-md-3">
                <img class="profile-img" src="/assets/hobbies/sacre-couer.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
</div>