<div class="container-fluid">
    <div class="row offset-md-4 mt-2">
        <h2 class='title'>Horizontal Bar Chart</h2>

    </div>
    <div class='row'>
        <div class="col-md-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <div id="horizontal-bar"></div>
                </div>
            </div>
            <div class="row" id="legend-container">
                <div class="col-md-10 offset-md-2">
                    <app-legend></app-legend>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <app-sidemenu></app-sidemenu>
        </div>
    </div>

</div>