.container-fluid {
    a {
        cursor: pointer;
    }
    img.card-img-top {
        height: 100px;
    }
    .card {
        box-shadow: 5px 7px #d3d3d3;
        &:hover {
            box-shadow: 5px 7px slategrey;
        }
    }
    .card-body {
        padding: 0.5rem;
        h6 {
            font-size: 0.9rem;
        }
    }
}