<!-- <app-bar></app-bar>
<app-line></app-line>
<app-area></app-area>
<app-stack></app-stack>
<app-pie></app-pie> -->
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-2 mr-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bar Chart</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-2 mr-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-2 mr-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-2 mr-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-2 mr-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-2 mr-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>