<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-6 d-flex text-center align-items-center">
            <h1>First step towards knowing each other</h1>
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="row">
                <div class="col">
                    <h3>SWAPNIL JAIN</h3>
                    <address>
                In Front of Ram Mandir,<br>
                Guard Line,<br>
                Damoh,M.P<br>
                INDIA
                </address>
                    <h6>+91-9407275135</h6>
                    <h6>jainwapnil90@hotmail.com</h6>
                </div>
            </div>
        </div>
    </div>
</div>